.container {
  height: 80vh;
}

.array {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.array__bar {
  margin: 0 1px;
  width: 10px; /* calc and apply width in javascript  */
  background-color: #8295ff;
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.buttons {
	display: flex;
	justify-content: center;
	gap: 20px;
}

